In [16]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [11]:
schoolCount = school_data_complete['school_name'].nunique()
studentCount = school_data_complete['student_name'].count()
districtBudget = school_data_complete.groupby('school_name')['budget'].unique().sum()[0]
districtMathScore = school_data_complete['math_score'].mean()
districtReadingScore = school_data_complete['reading_score'].mean()
districtMathPercent = school_data_complete[school_data_complete['math_score']>69]['student_name'].count()/studentCount
districtReadingPercent = school_data_complete[school_data_complete['reading_score']>69]['student_name'].count()/studentCount
districtBothPercent = school_data_complete[(school_data_complete['math_score']>69) & (school_data_complete['reading_score']>69)]['student_name'].count()/studentCount

In [15]:
summative_df = pd.DataFrame({
    'Total Schools':schoolCount,
    'Total Students':format(studentCount,',d'),
    'Total Budget':"${:,.2f}". format(districtBudget),
    'Average Math Score':districtMathScore,
    'Average Reading Score':districtReadingScore,
    '% Passing Math':"{:.6%}". format(districtMathPercent),
    '% Passing Reading':"{:.6%}". format(districtReadingPercent),
    '% Overall Passing':"{:.6%}". format(districtBothPercent)
},index=[0])
summative_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853%,85.805463%,65.172326%